.clients {
  padding-bottom: 60px;
  padding-top: 60px;
  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
    padding-top: 94px;
  }

  background-color: var(--primari-header-color);

  &-title {
    display: block;
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
    }
    font-weight: 700;
    font-size: 36px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    text-align: center;
  }
}
.clients-list.list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  flex-basis: calc((100% - 15px) / 2);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 15px) / 3);
  }

  // @extend %flex-aling-justify;
}

.clients-items {
  width: 210px;
  height: 92px;

  @media screen and (min-width: 768px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
  // &:not(:last-child) {
  //   margin-right: 30px;
  // }

  // & {
  //   flex-basis: calc((100% - 150px) / 6);
  // }
}
