.clients {
  padding-bottom: 60px;
  padding-top: 60px;
  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
    padding-top: 94px;
  }

  background-color: var(--primari-header-color);

  &-title {
    display: block;
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
    }
    font-weight: 700;
    font-size: 36px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    text-align: center;
  }
}
.clients-list.list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients-items {
  width: calc((100% - 60px) / 2);
  height: 92px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 90px) / 3);
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}
