.footer {
  background-color: var(--last-header-color);
}

.section-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container.footer-nav {
  text-align: center;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: 1200px) {
    align-items: baseline;
    flex-direction: row;
    text-align: left;
  }
}

.footer-tablet {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    gap: 94px;
  }
}
.address__items {
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}
.address__mail.list {
  font-style: normal;
  margin-top: 9px;
}

.addres__list.list {
  font-style: normal;
}

.addres__link.link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--another-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.address__href.link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.address.link {
  margin-top: 20px;
}

.footer-title {
  display: block;
  margin-bottom: 20px;

  font-weight: 700px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--another-text);
}
.join {
  display: flex;
  justify-content: center;
}
.join__list.list {
  display: flex;
  justify-content: center;
  text-align: center;
  @media screen and (min-width: 1200px) {
    justify-content: left;
    text-align: end;
  }
}
.form {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: flex-end;
  }
}

.form__action {
  margin-top: 60px;
  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 12px;
  }
}

.form__label {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primari-header-color);
}

.form-input {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--last-header-color);
  color: rgba(255, 255, 255, 0.6);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
  &::placeholder {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 / 16);

    @extend %flex-aling;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}
.submit {
  display: flex;
  justify-content: center;
}
.submit__btn {
  @extend %flex-aling;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 10px;
  width: 200px;
  height: 50px;

  text-align: center;

  color: var(--another-text);
  background-color: var(--accent-color-bt);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: var(--accent-color);
    color: var(--another-text);
  }
  margin-top: 20px;
}

.submint__text {
  margin-right: 10px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
}
