.menu-btn .icon-cross {
  display: none;
}
.menu-btn.is-open .icon-cross {
  display: block;
}
.menu-btn.is-open .icon-menu {
  display: none;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--primari-header-color);
  top: 0;
  left: 0;
  right: 0;
  padding: 21px 0 48px 40px;
  &.is-open {
    display: block;
  }
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;

  @media (min-width: 767px) {
    display: none;
  }
}
.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
}

.menu-toggle {
  display: block;
  margin-left: auto;
  margin-right: 0;
  min-height: 40px;
  min-width: 40px;

  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;

  color: var(--primari-header-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
  @media screen and(min-width:767px) {
    display: none;
  }
}

.mob-naviganion__list:not(:last-child) {
  margin-bottom: 32px;
}

.mob-naviganion__main {
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  color: var(--light-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-naviganion__main:hover,
.mob-naviganion__main:focus {
  color: var(--accent-color);
}
.mob-contacts.list {
  margin-bottom: 64px;
}
.mob-contacts__item--tel {
  margin-bottom: 32px;
}
.mob-contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;

  color: var(--second-text);
}
.mob-contacts__mail--tel {
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;

  color: var(--accent-color);
}

.mob-soc-link {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.mob-soc-list:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mob-social {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);

  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.menu-contant {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 48px;
}
.mob-naviganion__main--current {
  color: var(--accent-color);
}
