.section-terms {
  padding-bottom: 60px;
  padding-top: 60px;

  background-color: var(--primari-header-color);
}

.terms-icon-items {
  @extend %flex-aling-justify;
  margin-bottom: 30px;

  height: 120px;
  background-color: var(--comand-header-color);
  border-radius: 4px;

  // @media screen and (min-width: 768px) {
  //   width: 354px;
  // }
  // @media screen and (min-width: 1200px) {
  //   width: 270px;
  // }
}

.container-terms {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100% - 60px) / 2);
    gap: 30px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-flow: nowrap;
    flex-basis: calc((100% - 90px) / 4);
    gap: 30px;
  }
}

.terms-list.list {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  // @media screen and (min-width: 768px) {
  //   width: 354px;
  // }
  // @media screen and (min-width: 1200px) {
  //   width: 270px;
  // }
  // @media screen and (min-width: 1200px) {
  //   flex-basis: calc((100% - 90px) / 4);

  //   &:not(:last-child) {
  //     margin-right: 30px;
  //   }
  // }
}

.terms-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media screen and (max-width: 768px) {
    text-align: center;
  }
}

.terms-item {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--second-text);
}
